body{
    max-width: 90%;
    max-height:100%;
    margin:auto;
    background-color: #e6eff6;
    padding-top:2%;
    font-family: 'Open Sans', sans-serif;
}
.container{
    display:grid;
    grid-template-columns: repeat(4,23%);
    grid-template-rows: repeat(2,40%);
    gap:3%;
    justify-content: center;
    align-content: center;
}  
.box{
    display:grid;
    place-items: center;
    text-align: center;
    background-color:white;
    border-radius:5px;
}
h2{
    font-size: 120%;
    color:#53535E;
}
img{
    margin-top:5%;
    width:70px;
    margin-left:auto;
    margin-right:auto;
}
p{
    padding:5%;
    font-size:small;
    color:#90979F;
}
button{
    all:unset;
    border-top:1px solid gray;
    width:100px;
    padding:30px 5% 5% 5%;
    margin-bottom:5%;
}
button:hover{
    background-color:#4aaaf4;
    border:none;
    border-radius:50px;
    color:white;
    padding:5%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
}